<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body col-6">
            <img src="../../../assets/images/archimedes.jpg" height="512" width="700">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h1 class="font-weight-bold" style="text-align:center;">
                Archimedes Exchange Program
              </h1>
              <hr>
              <p>
            This program is mainly focusing on Agricultural Research in a laboratories or Research Institutes in Indonesia. Archimedes Program is recommended for youth who have an interest or schedule in data collecting for research purpose. Archimedes also provide Managerial activities such as Product Marketing, Copywriter, Public Relation, Industrial Management, and many more.
              </p>
              </div>
          </div>
      </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4>Typewriter Internship</h4>
                  <h5>ICRAF <span class="label label-success">Archimedes</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">2 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Bandung</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>
          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4>Research Student at ICBB</h4>
                  <h5>ICBB Bogor <span class="label label-success">Archimedes</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">3 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Bogor</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Salary, Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
