<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body col-6">
            <img src="../../../assets/images/archimedes.jpg" height="512" width="700">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h1 class="font-weight-bold" style="text-align:center;">
                Archimedes Exchange Program
              </h1>
              <hr>
              <p>
            This program is mainly focusing on Agricultural Research in a laboratories or Research Institutes in Indonesia. Archimedes Program is recommended for youth who have an interest or schedule in data collecting for research purpose. Archimedes also provide Managerial activities such as Product Marketing, Copywriter, Public Relation, Industrial Management, and many more.
              </p>
              </div>
          </div>
      </div>
</div>
