<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
            <img src="../../../assets/images/ceres.jpg" height="512" width="700">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h1 class="font-weight-bold" style="text-align:center;">
                Ceres Exchange Program
              </h1>
              <hr>
              <p>
              Is the most common internship program in IAAS Exchange Program. The program takes place on a farm and the usual activities are crop harvesting and Livestock production. This category is very recommended for students from Agricultural Machinery, Food Science and Technology, Plant Production, and Forestry or students who have interest in on-farm activities.
              </p>
              </div>
          </div>
      </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4>On Farm Crop Manager</h4>
                  <h5>Sabila Farm <span class="label label-danger">Ceres</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">2 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Yogyakarta</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>
          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4> Crop Circle Manager</h4>
                  <h5> PT. Charoel Pokhpand <span class="label label-danger">Ceres</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">3 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Mataram</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
