<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
            <img src="../../../assets/images/ceres.jpg" height="512" width="700">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h1 class="font-weight-bold" style="text-align:center;">
                Ceres Exchange Program
              </h1>
              <hr>
              <p>
              Is the most common internship program in IAAS Exchange Program. The program takes place on a farm and the usual activities are crop harvesting and Livestock production. This category is very recommended for students from Agricultural Machinery, Food Science and Technology, Plant Production, and Forestry or students who have interest in on-farm activities.
              </p>
              </div>
          </div>
      </div>
</div>
