<section id="wrapper">
    <div class="login-register" style="background-image:url(../../../assets/images/background/login-register.jpg);">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" #myForm="ngForm" novalidate>
                            <h3 class="box-title m-b-20">Sign In</h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control " [(ngModel)]="accountData.email" name="email" type="text" required placeholder="Username"> </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input [(ngModel)]="accountData.password" name="password" class="form-control" type="password" required placeholder="Password"> </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button (click)="login()" class="btn btn-block btn-lg btn-success btn-rounded" type="submit">Log In</button>
                                </div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    Don't have an account? <a href="http://localhost:4200/Register" class="text-success m-l-5"><b>Sign Up</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</section>