<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Add Admin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="email">Email:</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Password:</label>
                        <input type="password" class="form-control" id="message-text1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<button type="button" class="btn btn-rounded btn-block btn-outline-success btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Add Admin</button>

<br>
<br>
<h4 class="modal-title" id="exampleModalLabel1">List Admin</h4>
<br>
<div class="table-responsive">
    <table class="table color-table success-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Admin Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nigam</td>
                <td>Eichmann</td>
                <td>******</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Deshmukh</td>
                <td>Prohaska</td>
                <td>******</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Roshan</td>
                <td>Rogahn</td>
                <td>******</td>
            </tr>
        </tbody>
    </table>
</div>