<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
            <img src="../../../assets/images/libertas.jpg" height="512" width="700">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h1 class="font-weight-bold" style="text-align:center;">
                Libertas Exchange Program
              </h1>
              <hr>
              <p>
                Libertas program focuses on Volunteer activities. This program mainly focusing on collaboration with IAAS’ affiliated villages. The program is operated by IAAS Project and Science Division in a project called Village Concept Project
              </p>
              </div>
          </div>
      </div>
</div>
