<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-success">
        <h4 class="m-b-0 text-white"> Browse Hosting Places </h4>
      </div>
      <div class="card-body">
        <form action="routerLink(HostingPlace)">
          <div class="form-body">
            <h3 class="card-title" style="text-align:center;"> Find the most suitable Hosting Place Here!</h3>
            <hr>
            <div class="row p-t-20">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Keyword: Company">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Location: City">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control custom-select">
                    <option selected>All categories</option>
                    <option>Ceres</option>
                    <option>Archimedes</option>
                    <option>Libertas</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row p-t-20">
              <div class="col-md-4">
                <label>Length of Internship</label>
                <div class="checkall-group">
                  <div class="checkbox">
                    <input type="checkbox" id="contract1" name="contract" checked>
                    <label for="contract1">All types</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="contract2" name="contract">
                    <label for="contract2">2 Weeks Long</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="contract3" name="contract">
                    <label for="contract3">4 Weeks Long</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="contract4" name="contract">
                    <label for="contract4">8 Weeks Long</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Provided Accomodation</label>
                  <div class="checkall-group">
                    <div class="checkbox">
                      <input type="checkbox" id="accomodation1" name="accomodation" checked>
                      <label for="accomodation1">All Accomodation</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="accomodation2" name="accomodation">
                      <label for="accomodation2">Free Meals</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="accomodation3" name="accomodation">
                      <label for="accomodation3">Free Home Stay</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="accomodation4" name="accomodation">
                      <label for="accomodation4">Provide Salary</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Prefered Industries</label>
                  <div class="checkall-group">
                    <div class="checkbox">
                      <input type="checkbox" id="industries1" name="industries">
                      <label for="industries1">Water Treatment</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="industries2" name="industries">
                      <label for="industries2">Agriculture</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="industries3" name="industries">
                      <label for="industries3">Fisheries</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="industries4" name="industries">
                      <label for="industries4">Forestry</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="industries5" name="industries">
                      <label for="industries5">Food Processing</label>
                    </div>

                    <div class="checkbox">
                      <input type="checkbox" id="industries6" name="industries">
                      <label for="industries6">Other</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-success"> Apply Filter </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Job item -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4>Typewriter Internship</h4>
                  <h5>ICRAF <span class="label label-info">2 Weeks Long</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">2 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Bogor</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Salary, Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>

          <div class="col-6">
            <a class="item-block" href="job-detail.html">
              <header>
                <img src="assets/img/logo-envato.png" alt="">
                <div class="hgroup">
                  <h4>Communication Team Internship</h4>
                  <h5>IAAS Indonesia <span class="label label-success">4 Weeks Long</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">2 days ago</time>
              </header>

              <div class="item-body">
                <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Bogor</span>
                  </li>

                  <li>
                    <i class="fa fa-map-marker"></i> &nbsp;
                    <span>Providing: Salary, Meals, Homestay </span>
                  </li>

                </ul>
              </footer>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Job item -->
